In [1]:
# Create monthly report url

from datetime import datetime, timedelta, date
# from urllib.parse import urlencode
import urllib.parse

report_date = '10/31/2023'

end = datetime.strptime(report_date, '%m/%d/%Y')
start = date(end.year, end.month, 1)


# from breeze import breeze
# breeze_api = breeze.BreezeApi(
#     breeze_url = ncc_url,
#     api_key='YourApiKey')

ncc_url = r"https://newmarketchurch.breezechms.com"
base_url = ncc_url + r"/events/reports/243292472#/"


import urllib.parse
params = {
    'start_date': urllib.parse.quote(start.strftime('%m/%d/%Y'), safe='/'),
    'end_date': urllib.parse.quote(end.strftime('%m/%d/%Y'), safe='/'),
    'event_ids': '2949650',
    'attendance_status': 'attended',
    'attendance_operator': 'any',
    'page': 'spreadsheet',
}

print("Download the spreadsheet from the following link. Copy the full path into the 'attendancereport' below.")
print(base_url + urllib.parse.urlencode(params))

Download the spreadsheet from the following link. Copy the full path into the 'attendancereport' below.
https://newmarketchurch.breezechms.com/events/reports/243292472#/start_date=10%2F01%2F2023&end_date=10%2F31%2F2023&event_ids=2949650&attendance_status=attended&attendance_operator=any&page=spreadsheet

In [2]:
# This is the file that was downloaded from https://newmarketchurch.breezechms.com/events/reports/243292472#/&start_date=10%2F01%2F2023&end_date=10%2F31%2F2023&event_ids=2949650&attendance_status=attended&attendance_operator=any&page=spreadsheet

attendancereport = r"C:\Users\ralph\Downloads\FoodPantry-attendance-10-20-2023 (3).xlsx"
peopleexport = r"C:\Users\ralph\Downloads\newmarketchurch-people-10-20-2023 (4).xlsx"

paste_file = r"C:\Users\ralph\Downloads\paste_me.csv"

import numpy as np
import pandas as pd

# Read in the downloaded Excel file 
attendance = pd.read_excel(attendancereport)
people = pd.read_excel(peopleexport)
# print('{count} people in input.'.format(count = len(attendance.index)))

In [3]:
attendance.columns

Index(['Breeze ID', 'First Name', 'Last Name', 'Oct 5, 2023', 'Oct 12, 2023',
       'Oct 19, 2023', 'Oct 26, 2023', 'Person Totals'],
      dtype='object')

In [4]:
attendance = attendance[[
    'Breeze ID', 
    'First Name', 
    'Last Name', 
    'Person Totals'
]]
display(attendance)

      Breeze ID   First Name    Last Name  Person Totals
0    47038995.0     Samantha       Adario              1
1    46986494.0         Tomi      Adewuyi              1
2    44557131.0     Patricia  Alielouahed              2
3    43643318.0      Roberta     Anderson              3
4    45830007.0       Donald        April              3
..          ...          ...          ...            ...
149  45883734.0      Christy        Wyatt              3
150  30397680.0     Orson P.       Yancey              2
151  46915460.0  Christopher        Young              1
152  43643495.0     Patricia     Zwearcan              2
153         NaN          NaN          NaN            307

[154 rows x 4 columns]

In [12]:
# people.columns

In [13]:
people = people[[
    'Breeze ID',
    'Date of First Contact',
    'How many people live in your household? (including yourself)',
    'Total number of people aged 18 or under in household?',
    'Total number of people between the ages of 19-59 in household?',
    'Total number of people aged 60 or older in Household?',
    'City'
]]

In [14]:
report = pd.merge(attendance, people, on = 'Breeze ID', how = "inner")
report.fillna(0, inplace=True)
print('{count} people in report.'.format(count = len(report.index)))
display(report)

153 people in report.

,Breeze ID,First Name,Last Name,Person Totals,Date of First Contact,How many people live in your household? (including yourself),Total number of people aged 18 or under in household?,Total number of people between the ages of 19-59 in household?,Total number of people aged 60 or older in Household?,City
0,47038995.0,Samantha,Adario,1,10/19/2023,2,0.0,2.0,0,Newmarket
1,46986494.0,Tomi,Adewuyi,1,10/12/2023,1,0.0,1.0,0,Newmarket
2,44557131.0,Patricia,Alielouahed,2,02/13/2023,2,0.0,0.0,2,Newmarket
3,43643318.0,Roberta,Anderson,3,11/10/2022,1,0.0,0.0,1,Newmarket
4,45830007.0,Donald,April,3,06/08/2023,1,0.0,0.0,1,Newmarket
...,...,...,...,...,...,...,...,...,...,...
148,30397654.0,Deltina,Witham,1,0,1,0.0,0.0,1,Newmarket
149,45883734.0,Christy,Wyatt,3,0,4,3.0,1.0,0,Newmarket
150,30397680.0,Orson P.,Yancey,2,0,1,0.0,0.0,1,Newmarket
151,46915460.0,Christopher,Young,1,0,5,3.0,2.0,0,Newmarket
152,43643495.0,Patricia,Zwearcan,2,0,3,0.0,2.0,1,Newmarket

In [10]:
report.to_csv(paste_file, index=False)

In [11]:
report.loc[report['How many people live in your household? (including yourself)'] != 
        report['Total number of people aged 18 or under in household?'] + 
        report['Total number of people between the ages of 19-59 in household?'] + 
        report['Total number of people aged 60 or older in Household?']
]

,Breeze ID,First Name,Last Name,Person Totals,Date of First Contact,How many people live in your household? (including yourself),Total number of people aged 18 or under in household?,Total number of people between the ages of 19-59 in household?,Total number of people aged 60 or older in Household?,City
18,46357353.0,Teri S.,Butler,2,0,4,0.0,0.0,0,Newmarket